body {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template: 0.5fr 2fr 1fr 1fr / 1fr 1fr 1fr;
}

h1, p {
    text-align: center;
}

.header {
    grid-area: 1 / 2/ 2/ 3;
}

.main {
    grid-area: 2 / 2/ 3 / 3;
}

#playerInfo {
    grid-area: 3 / 2 / 4/ 3;
}

.buttons {
    grid-area: 4/ 2/ 5/ 3;
}

